<!DOCTYPE html>
<html>
<head>
  <title>Tumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<nav class="navbar navbar-inverse navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <%= link_to "Tumblr", root_path, class:"navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
	
				    <li><%= link_to "About", about_path %></li>
		       		
				</ul>
				<ul class=" nav navbar-nav navbar-right">
				<li><% if user_signed_in? %></li>
						<li><%= link_to "sign Out", destroy_user_session_path, method: :delete %></li>
					<% else %>
							<li><%= link_to "Log In", new_user_session_path %></li>
							<li><%= link_to "sign Up", new_user_registration_path  %></li>
					<% end %>
				<li><%= link_to "Make Post", new_post_path %></li>
						
			   </ul>
            </div>
        </div>    
</nav>

<%= yield %>

</body>
</html>
